#-------------------------------------------------------------------------------
# Copyright 2020 Dominik Salvet
# https://github.com/dominiksalvet/afc-scout
#-------------------------------------------------------------------------------

[Unit]
Description=Loads acpi_call module for afc-scout.
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/sbin/modprobe acpi_call

[Install]
WantedBy=multi-user.target
